.container {
  /* border: solid 1px pink; */
  max-width: 450px;
  margin: 0 auto;
  padding: 30px;
  background-color: rgb(255, 252, 248);
}

h1 {
  margin: 0 0 10px 0;
}

.error {
  color: rgb(255, 114, 114);
}

.user-details {
  /* border: solid 1px pink; */
  margin: 0 0 20px 0;
}
